@page "/my-course"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>@(CourseDetails?.Name ?? "Loading course details...")</PageTitle>


@if (IsLoading)
{
    <div class="placeholder-glow">Loading...</div>
} else
{
    if (CourseDetails != null)
    {
        <h1>@CourseDetails.Name</h1>

        <p>@CourseDetails.Description</p>

        <AuthorizeView Roles="Teacher">
            <div>Teacher content</div>
        </AuthorizeView>

        <AuthorizeView Roles="Student">
            <div>Student content</div>
        </AuthorizeView>

        <div>General content</div>

        <div>
            <h2>Course Modules</h2>
            <ul>
                @foreach(var module in CourseDetails.Modules)
                {
                    <li>@module.Name</li>
                }
            </ul>
        </div>
    }

    if (Error != null)
    {
        <div>
            <h3>Something went wrong:</h3>
            <p>@Error</p>
        </div>
    }
}