@page "/my-course"

@using Microsoft.AspNetCore.Authorization
@using LMS.Shared.DTOs
@using LMS.Blazor.Client.Components

@attribute [Authorize]

<PageTitle>@(CourseDetails?.Name ?? "Loading course details...")</PageTitle>

@if (IsLoading)
{
    <div class="placeholder-glow">Loading...</div>
}
else
{
    if (CourseDetails != null)
    {
        <h1>@CourseDetails.Name</h1>

        <p>
            Led by: 
            @foreach(var participant in CourseDetails.Participants.Where(p => p.Role == "Teacher"))
            {
                <span>@participant.FullName </span>
            }
        </p>

        <p>@CourseDetails.Description</p>

        <div class="mb-3">
            <AuthorizeView Roles="Teacher">
                <div>Teacher content</div>
            </AuthorizeView>
            <AuthorizeView Roles="Student">
                <div>Student content</div>
            </AuthorizeView>
            <div>General content</div>
        </div>

        <div>
            <h3>Participants:</h3>
            <div>
                @foreach (var participant in CourseDetails.Participants.Where(p => p.Role != "Teacher"))
                {
                    <div>@participant.FullName</div>
                }
            </div>
        </div>

        <div>
            <h2>Course Modules</h2>
            <div class="modules">
                @foreach(var module in CourseDetails.Modules)
                {
                    <ModuleComponent 
                        Module="module" 
                        Activities="module.Activities" />
                }
            </div>
        </div>
    }

    if (Error != null)
    {
        <div>
            <h3>Something went wrong:</h3>
            <p>@Error</p>
        </div>
    }
}