@page "/"

<PageTitle>Home</PageTitle>

<h1>Dashboard</h1>

Welcome to your new app.

<div>
    <header class="d-flex justify-content-between py-2">
        <div>
            <h2>Courses</h2>
        </div>
        <div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCourseFormModal">Add a new Course</button>
        </div>
    </header>
    @if(PageState.IsLoading) {
        <div>Loading courses...</div>
    } else if(PageState.Data != null){
        <div class="accordion" id="course-list">
            @foreach(var item in PageState.Data.Items.Select((course, index) => (course, index)))
            {
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button 
                            class="accordion-button @(item.index == 0 ? "" : "collapsed")" 
                            type="button" 
                            data-bs-toggle="collapse"
                            data-bs-target="#course-list-item-@item.course.Id"
                            aria-expanded="@(item.index == 0 ? "true" : "false")"
                            aria-controls="course-list-item-@item.course.Id">
                            <h3 class="lead">@item.course.Name</h3>
                        </button>
                    </div>
                    <div id="course-list-item-@item.course.Id" class="accordion-collapse collapse @(item.index == 0 ? "show" : "")" data-bs-parent="#course-list">
                        <div class="accordion-body bg-body-tertiary">
                            @item.course.Description
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

<div class="modal fade" id="createCourseFormModal" tabindex="-1" aria-labelledby="createCourseFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="createCourseFormModalLabel">
                    Create a new Course
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-dialog-scrollable">
                <CreateCourseForm />
            </div>
        </div>
    </div>
</div>